<!DOCTYPE html>
<html layout:decorator="public/shared/masterlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header"></th:block>
    <th:block layout:fragment="content">
    			<h3>BOOKING FORM</h3>
    	<form id="bookingForm" method="post" action="/hotel/public/bookings/addnew/save/" th:object="${booking}">
    		<fieldset>
    			<!-- <input type="hidden" name="categoryId" th:value="${category.categoryId}"/> -->
    			<input type="hidden" name="bookingId" th:value="${booking.id}"/>
                <div class="container" style="margin-top: 1em;">
                   	<div class="row">
               			<div class="col-md-3">               			
			                <div class="form-group">               
								<label for="referenceNumber">Reference Number</label>
			                    <span th:if="${#fields.hasErrors('referenceNumber')}" th:errors="*{referenceNumber}" class="alert alert-danger"></span>
			                    <input id="referenceNumber" name="referenceNumber" type="text" class="form-control" th:value="${booking.referenceNumber}" readonly>              
			                </div>
			             </div>
			             <div class="col-md-3">   
			                <div class="form-group">               
								<label for="bookingDate">Booking Date</label>
			                    <span th:if="${#fields.hasErrors('bookingDate')}" th:errors="*{bookingDate}" class="alert alert-danger"></span>
			                    <input id="bookingDate" name="bookingDate" type="date" class="form-control" aria-describedby="bookingDatehHelp" th:value="${booking.bookingDate}" readonly>
			                </div>  
			       		</div>
			       		<div class="col-md-3">                
                			<div class="form-group">               
								<label for="checkInDate">Start Date</label>
			                    <span th:if="${#fields.hasErrors('checkInDate')}" th:errors="*{checkInDate}" class="alert alert-danger"></span>
			                    <input id="checkInDate" name="checkInDate" type="date" class="form-control" aria-describedby="startDatehHelp" th:value="${booking.checkInDate}" readOnly>             
<!-- 			               		<small id="startDateHelp" class="form-text text-muted">Enter a valid Date.</small>
 -->			                </div>
			            </div> 
			            <div class="col-md-3">    
			                <div class="form-group">               
								<label for="checkOutDate">End Date</label>
			                    <span th:if="${#fields.hasErrors('checkOutDate')}" th:errors="*{checkOutDate}" class="alert alert-danger"></span>
			                    <input id="checkOutDate" name="checkOutDate" type="date" class="form-control" aria-describedby="endDatehHelp" th:value="${booking.checkOutDate}" readonly>             
<!-- 			               		<small id="endDateHelp" class="form-text text-muted">Enter a valid Date.</small>
 -->			                </div>
	                 	</div>
	                 	
	                 	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="user.firstName">First Name</label>
			                    <span th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}" class="alert alert-danger"></span>
			                    <input id="user.firstName" name="user.firstName" type="text" class="form-control" th:value="${booking.user.firstName}">             
			                </div>
	                	</div>
	                	
	                	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="user.lastName">Last Name</label>
			                    <span th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}" class="alert alert-danger"></span>
			                    <input id="user.lastName" name="user.lastName" type="text" class="form-control" th:value="${booking.user.lastName}">             
			                </div>
	                	</div>
	              	                	
	                	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="user.email">Email Address</label>
			                    <span th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" class="alert alert-danger"></span>
			                    <input id="user.email" name="user.email" type="email" class="form-control" th:value="${booking.user.email}">             
			                </div>
	                	</div>
	                	
	                	<div class="col-md-3" style="float=right">
		                	<div class="form-group">               
								<label for="hotelReserveLocation">PICK UP LOCATION</label>
			                    <span th:if="${#fields.hasErrors('hotelReserveLocation')}" th:errors="*{hotelReserveLocation}" class="alert alert-danger"></span>			            
			                    <select name="hotelReserveLocation" id="hotelReserveLocation" type="text" class="form-control" th:value="${booking.hotelReserveLocation}" required="required">
			                         	<option value="">Select Location</option>
			                         	<option value="SanFrancisco">SanFransisco</option>
			                         	<option value="LasVegas">LasVegas</option>
			                         	<option value="SanJose">SanJose</option>		               
			                    </select>            
			                </div>
	                	</div> 
	                	
	                	<div class="col-md-3" style="float=right">
		                	<div class="form-group">               
								<label for="totalPrice">YOUR BOOKING TOTAL</label>
			                    <span th:if="${#fields.hasErrors('totalPrice')}" th:errors="*{totalPrice}" class="alert alert-danger"></span>
			                    <input id="totalPrice" name="totalPrice" type="text" class="form-control" th:value="${booking.totalPrice}" readonly>             
			                </div>
	                	</div>
	                	        
			    	</div>
		    	</div>
		    	<div style="float:right;">
		    		<button id="btnSubmit" type="submit" class="btn btn-outline-success">CONFIRM BOOKING</button>
                    <!-- <a href="/company/page/underconstruction" class="btn btn-outline-warning">Pay Now</a>&nbsp;&nbsp;&nbsp;
                    <small id="bookingHelp" class="form-text text-muted">PAY AT PICKUP</small> -->
                </div>
    		</fieldset>
        </form>
    </th:block>
    <th:block layout:fragment="footer"></th:block>
</body>
</html>