<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for Order email </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<div style="font-size:20px">Yor Car Rental Confirmation</div>
<p th:text="#{greeting(${name})}"/>
<div>
    <p>Thanks for booking with us. Your pick-up location is <span th:text="${booking.pickUpLocation}"></span>. This
        e-mail confirms your car rental reservation.</p>
    <p>Visit "<u>My Trips</u>" to add this reservation to your calendar</p>
    <p><b>See sign-in instruction below</b></p>
</div>
<div>
    <h2>Booking Information</h2>
    <H5>Booking Reference number : <span th:text="${booking.referenceNumber}"></span></H5>
    <H5>Booking Date : <span th:text="${booking.bookingDate}"></span></H5>
    <H5>Pickup Location : <span th:text="${booking.pickUpLocation}"></span></H5>
    <H5>Pick-up Date : <span th:text="${booking.startDate}"></span></H5>
    <H5>Drop-off Date : <span th:text="${booking.endDate}"></span></H5>
    <H5>Total Car rental estimate : <span th:text="${booking.totalPrice}"></span> USD</H5>
    <H5>Drop-off location : same as pick-up location</H5>


</div>
<H4> Thank you!</H4>
</body>
</html>
