<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title th:remove="all">Template for reservation email </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<div style="font-size:20px">Your Hotel Reservation Confirmation</div>
<p th:text="#{greeting(${name})}"/>
<div>
    <p>Thanks for booking with us.Your room is <span th:text="${booking.referenceNumber}"></span>. This
        e-mail confirms your Hotel reservation.</p>
    <p>Visit "<u>My Trips</u>" to add this reservation to your calendar</p>
    <p><b>See sign-in instruction below</b></p>
</div>
<div>
<div>
   <h2>Booking Information</h2>
    <H5>Booking Reference number : <span th:text="${booking.referenceNumber}"></span></H5>
    <H5>Booking Date : <span th:text="${booking.checkInDate}"></span></H5>
    <H5>Check out date: <span th:text="${booking.checkOutDate}"></span></H5>
     <H5>location: <span th:text="${booking.hotelReserveLocation}"></span></H5>
    <H5>Total Hotel reserve estimate : <span th:text="${booking.totalPrice}"></span> USD</H5>
</div>
</div>
<H4> Thank you!</H4>
</body>
</html>

