<!DOCTYPE html>
<html layout:decorator="admin/shared/masterlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header"></th:block>
    <th:block layout:fragment="content">
		<h3>NEW ROOM TYPE FORM</h3>
    	<form id="categoryForm" method="post" action="/hotel/admin/roomTypes/add/save" th:object="${roomType}">
            <fieldset>
                <input type="hidden" name="categoryId" th:value="${roomType.roomTypeId}" />
                <div style="float:right;">
                    <a href="/hotel/admin/roomTypes" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success">Add ROOM TYPE</button>
                </div>
                <br></br>
                <div class="container" style="margin-top: 1em;">
                   	<div class="row">
		                <div class="col-md-6">
			                <div class="form-group">               
								<label for="roomTypeName">Room type name</label>
			                    <span th:if="${#fields.hasErrors('roomTypeName')}" th:errors="*{roomTypeName}" class="alert alert-danger"></span>
			                    <input id="roomTypeName" name="roomTypeName" type="text" class="form-control" th:value="${roomType.roomTypeName}">              
			                </div>
			                
			                <div class="form-group">
			                   	<label for="price">Price</label>
			                 	<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger"></span>
			                  	<input id="price" name="price" type="text" class="form-control" th:value="${roomType.price}">
			                </div>

		                </div>
	                </div>
                </div>         
            </fieldset>
        </form>
    </th:block>
    <th:block layout:fragment="footer"></th:block>
</body>
</html>